schemas/sample_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HealthcareMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PatientID" type="xs:string"/>
        <xs:element name="Name" type="xs:string"/>
        <xs:element name="Diagnosis" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
